/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2016, 9:22:52 AM
    Author     : Gretchen
*/

html {
    background-image: url(http://images4.fanpop.com/image/photos/22100000/Green-leaves-green-22176085-1920-1440.jpg);
}
body {
    background-color: rgba(255,255,255,.8);
    padding: 2em;
    margin: 2em;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
table {
    text-align: center;
    border: solid;
    padding: 3em;
    margin: auto;
}
table td {
    padding: 1em;
}
table tbody tr {
    border: solid;
}
nav {
    text-align: center;
}
p {
    font-size: 18pt;
    background-color: rgba(80,150,0,.2);
    border-radius: 15px;
    padding: 2em;
}
nav ol li {
    list-style-type: none;
    display: inline;
    margin-left: 4em;
    margin-right: 8em;
    font-family: sans-serif;
}